@using Domain.Enums
@{
    ViewData["Title"] = "TodoItem - Create";
}

<form method="post" id="form">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="pl-3">@ViewData["Title"]</h2>
            <hr />
		</div>

		<div class="mb-3">
			<label for="Title">Title</label>
			<input for="Title" name="Title" class="form-control" />
            @Html.ValidationMessage("error.Title", new { @class = "text-danger model-state-specific-error" })
		</div>

		<div class="mb-3">
			<label for="Note">Note</label>
			<input for="Note" Name="Note" class="form-control" />
			@Html.ValidationMessage("error.Note", new { @class = "text-danger model-state-specific-error" })
		</div>

		<div class="mb-3">

			<label for="TodoList">List</label>
			<select class="form-control" id="todo-string" onchange="SelectValueToInt('todo-string','todo-int')">
				@foreach (var item in Model)
				{
					<option value="@item.Id">@item.Title</option>
				}                 
			</select>
			<input for="ListId" name="ListId" value=1 hidden id="todo-int"/>
			@Html.ValidationMessage("error.ListId", new { @class = "text-danger model-state-specific-error" })
		</div>

		<div class="mb-3">
			<label for="Priority">Priority</label>
			<select for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<PriorityLevel>()" id="priority-string" onchange="SelectValueToInt('priority-string','priority-int')"></select>
			<input for="Priority" name="Priority" value=1 hidden id="priority-int"/>
			@Html.ValidationMessage("error.Priority", new { @class = "text-danger model-state-specific-error" })
		</div>

		<button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
		<a asp-controller="TodoItem" asp-action="Index" class="btn btn-secondary"  style="width:150px;"> Back to List</a>
       
	</div>	
</form>
